* {
  margin: 0;
  padding: 0;
  box-sizing:         border-box;
  -o-box-sizing:      border-box;
  -ms-box-sizing:     border-box;
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
}

body {
  background-color: #f5f5f5;
  font-family: 'Indie Flower', cursive;
}

li.item-description:hover,
li.list-label:hover {
  color: black;
}

.insert-new-list:hover,
.lists li:hover,
input:hover {
  background-color: #f0f0f0;
  transition:          all 0.2s;
  --o-transition:      all 0.2s;
  --ms-transition:     all 0.2s;
  --moz-transition:    all 0.2s;
  --webkit-transition: all 0.2s;
}

.lists li:hover,
.insert-new-list:hover,
input:hover::placeholder {
  color: blue;
}

input:active::placeholder {
  color: blueviolet;
}

input:focus {
  color: blue;
}

.insert-new-item input[type="submit"],
.insert-new-list input[type="submit"] {
  display: none;
}